
.footer-body {
    background-color:  #000000;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.footer-logo {
    margin: 10px;
    margin-top: 25px;
}

.footer-title {
    color: #ffffff;
    font-weight: bold;
}

.footer-text {
    padding-top: 20px ;
    color: #ffffff6e;
} 